@model GetDestinationByIdQueryResult
@{
    ViewData["Title"] = "GetDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card shadow p-4" style="background-color:#f8f9fa; border-radius:12px;">
    <h3 class="mb-4 text-dark">Rota Güncelleme Sayfası</h3>

    <form method="post">
        <input  type="hidden" asp-for="DestinationId"/>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">
                    <i class='bx bx-map-pin me-1'></i> Şehir
                </label>
                <input type="text" asp-for="City" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    <i class='bx bx-time-five me-1'></i> Gün Gece
                </label>
                <input type="text" asp-for="DayNight" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    <i class='bx bx-dollar-circle me-1'></i> Fiyat
                </label>
                <input type="text" asp-for="Price" class="form-control" />
            </div>

        </div>

        <button class="btn text-white mt-4 shadow-sm rounded"
                style="background-color:darkslategrey;">
            <i class='bx bx-plus-circle me-2'></i>Rota Güncelle
        </button>
    </form>
</div>
