<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <h6 class="card-title fw-bold mb-3">Genel İstatistikler</h6>

                <h6>• Aktif Rezervasyon: <strong>4</strong></h6>
                <h6>• Geçmiş Rezervasyon: <strong>12</strong></h6>
                <h6>• Onay Bekleyen Rezervasyon: <strong>1</strong></h6>
                <h6>• Toplam Rota: <strong>16</strong></h6>
                <h6>• Rehber Sayısı: <strong>6</strong></h6>
                <h6>• Toplam Misafir: <strong>1286</strong></h6>
                <h6>• Ortalama Puan: <strong>8.97 / 10</strong></h6>

            </div>
        </div>
    </div>
</div>