<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">

        <div class="mb-2 mb-md-0 d-flex align-items-center">
            <span class="fw-bold">TourifyX</span> &nbsp;|&nbsp;
            <span class="text-muted">Tüm hakları saklıdır © <script>document.write(new Date().getFullYear());</script></span>
        </div>

        <div class="footer-links d-flex align-items-center">

            <a href="#" class="footer-link me-4">Hakkımızda</a>
            <a href="#" class="footer-link me-4">İletişim</a>

            <a href="#" class="footer-link me-4">Gizlilik Politikası</a>

        </div>
    </div>
</footer>
