<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>

    <li class="menu-header small text-uppercase"><span class="menu-header-text">Hızlı Erişim</span></li>

    <li class="menu-item">
        <a href="/Admin/Destination/Index/"
           class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
            <div>Rotalar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Comment/Index/"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-message-dots"></i>
            <div>Yorumlar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/User/Index/"
           class="menu-link">
            <i class="menu-icon tf-icons bx bxs-face"></i>
            <div>Misafirler</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/ContactUs/Index/"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-envelope"></i>
            <div>Mesajlar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Guide/Index/"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-street-view"></i>
            <div>Rehberlerimiz</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Excel/Index/"
           class="menu-link">
            <i class="menu-icon tf-icons bx bxs-report"></i>
            <div>Raporlar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Mail/Index/"
           class="menu-link">
            <i class="menu-icon tf-icons bx bxs-envelope"></i>
            <div>Mail Gönder</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/SubAbout/Index/"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-info-circle"></i>
            <div>Alt Hakkında</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="#"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-calendar-check"></i>
            <div>Rezervasyonlar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/MailList/Index/"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-envelope"></i>
            <div>Mail Listesi</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="#"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-lock"></i>
            <div>Şifre İşlemleri</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Role/Index/"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-edit-alt"></i>
            <div>Rol İşlemleri</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Login/LogOut"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-log-out"></i>
            <div>Çıkış Yap</div>
        </a>
    </li>
</ul>