@model EntityLayer.Concrete.Destination
@{
    ViewData["Title"] = "UpdateDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow p-4" style="background-color:#f8f9fa; border-radius:12px;">
    <h3 class="mb-4 text-dark">Rota Güncelleme Sayfası</h3>

    <form method="post">
        <input type="hidden" asp-for="DestinationId"/>
        <input type="hidden" asp-for="Date"/>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">
                    <i class='bx bx-map-pin me-1'></i> Şehir
                </label>
                <input type="text" asp-for="City" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    <i class='bx bx-time-five me-1'></i> Gün Gece
                </label>
                <input type="text" asp-for="DayNight" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    <i class='bx bx-user me-1'></i> Rehber
                </label>
                @Html.DropDownListFor(x => x.GuideId, (List<SelectListItem>)ViewBag.Guides, "Rehber Seçiniz", new { @class = "form-control" })
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    <i class='bx bx-dollar-circle me-1'></i> Fiyat
                </label>
                <input type="text" asp-for="Price" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    <i class='bx bx-group me-1'></i> Kapasite
                </label>
                <input type="text" asp-for="Capacity" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    <i class='bx bx-image-alt me-1'></i> Ana Görsel
                </label>
                <input type="text" asp-for="ImageUrl" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    <i class='bx bx-image me-1'></i> Kapak Görseli
                </label>
                <input type="text" asp-for="CoverImageUrl" class="form-control" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">
                    <i class='bx bx-image-add'></i> Görsel-2
                </label>
                <input type="text" asp-for="Image2" class="form-control" />
            </div>

            <div class="col-md-12 mb-3">
                <label class="form-label">
                    <i class='bx bx-detail me-1'></i> Açıklama
                </label>
                <textarea class="form-control" rows="3" asp-for="Description"></textarea>
            </div>

            <div class="col-md-12 mb-3">
                <label class="form-label">
                    <i class='bx bx-detail me-1'></i> Detay-1
                </label>
                <textarea class="form-control" rows="3" asp-for="Details1"></textarea>
            </div>

            <div class="col-md-12 mb-3">
                <label class="form-label">
                    <i class='bx bx-detail me-1'></i> Detay-2
                </label>
                <textarea class="form-control" rows="3" asp-for="Details2"></textarea>
            </div>
        </div>

        <button class="btn text-white mt-4 shadow-sm rounded"
                style="background-color:darkslategrey;">
            <i class='bx bx-plus-circle me-2'></i>Rota Güncelle
        </button>
    </form>
</div>
